html, body {
  height: 100%;
  width: 100%;
  background-color: #212121;
}

/* The blue dot marker*/
div[title=''] {
  pointer-events: none;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

img[src^='./app/images/icon_bludot.png'] {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

@media all and (min-device-width: 800px) {
  .loginElement {
    margin-top: 100px;
  }
  .wrapper {
    text-align: center;
    background-image: url('../images/record.jpg');
    background-size: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    position: fixed;
    color: white;
    font-family: "Open Sans";
  }
}

@media all and (max-device-width: 800px) {
  .loginElement {
    margin-top: 50px;
  }
  .wrapper {
    text-align: center;
    background-image: url('../images/record.jpg');
    height: 100%;
    width: 100%;
    margin: 0;
    position: fixed;
    color: white;
    font-family: "Open Sans";
  }
}

.customButtonSLogIn {
  margin-top: 100px;
  background: none;
  border-radius: 24px;
}

.customButtonLLogIn {
  margin-top: 50px;
  background: none;
  border-radius: 24px;
}

.customButtonModal {
  border-radius: 24px;
}

.transparentBg {
  background: transparent;
}

.space {
  margin-top: 25px;
}



.wrapperWithoutBg {
  text-align: center;
  background-color: #212121;
  height: 100%;
  width: 100%;
  margin: 0;
  /*position: fixed;*/
  color: white;
  font-family: "Open Sans";
}

.currentlyPlaying {
  margin-top: 20px;
}

.btn:focus,.btn:active {
   outline: none !important;
}

.modal {
  font-family: 'Open Sans';
  color: #424242;
}

.modalColor {
  background-color: #9e9e9e;
  color: white;
}

.textAlignCenter: {
  text-align: center;
}

.textOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

.displayNone {
  display: none;
}


.height100 {
  height: 100%;
  margin: 0;
}

.loggedin {
  text-align: center;
}

.marginTop50 {
  margin-top: 50px;
}

.popupLink {
  display: block;
  margin-top: 20px;
  cursor: pointer;
}

.loadingGif {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(20, 20, 20, 1)
              url('../images/loading4.gif')
              50% 50%
              no-repeat;
  background-size: 5%;
}

/* Slider - All */

/**
 * Menu overview.
 */
.c-menu {
  position: fixed;
  z-index: 200;
  /*background-color: #67b5d1;*/
  background-color: #212121;
  transition: transform 0.3s;
}

.c-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Close button resets.
 */
.c-menu__close {
  color: #fff;
  /*background-color: #3184a1;*/
  background-color: #161616;
  font-size: 14px;
  border: none;
  box-shadow: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

/**
 * Close button resets.
 */
.c-menu__close:focus {
  outline: none;
}

/**
 * Body states.
 *
 * When a menu is active, we want to hide the overflows on the body to prevent
 * awkward document scrolling.
 */
body.has-active-menu {
  overflow: hidden;
}

/**
 * Mask component
 */

.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}

/* Left and right */

.c-menu--slide-left,
.c-menu--slide-right,
.c-menu--push-left,
.c-menu--push-right {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

@media all and (min-width: 320px) {
  .c-menu--slide-left,
  .c-menu--slide-right,
  .c-menu--push-left,
  .c-menu--push-right {
    width: 300px;
  }
}

.c-menu--slide-left .c-menu__item,
.c-menu--slide-right .c-menu__item,
.c-menu--push-left .c-menu__item,
.c-menu--push-right .c-menu__item {
  display: block;
  text-align: center;
  /*border-top: solid 1px #b5dbe9;
  border-bottom: solid 1px #3184a1;*/
}

.c-menu--slide-left .c-menu__item:first-child,
.c-menu--slide-right .c-menu__item:first-child,
.c-menu--push-left .c-menu__item:first-child,
.c-menu--push-right .c-menu__item:first-child {
  border-top: none;
}

.c-menu--slide-left .c-menu__item:last-child,
.c-menu--slide-right .c-menu__item:last-child,
.c-menu--push-left .c-menu__item:last-child,
.c-menu--push-right .c-menu__item:last-child {
  border-bottom: none;
}

.c-menu--slide-left .c-menu__link,
.c-menu--slide-right .c-menu__link,
.c-menu--push-left .c-menu__link,
.c-menu--push-right .c-menu__link {
  display: block;
  padding: 12px 24px;
  color: #fff;
}

.c-menu--slide-left .c-menu__close,
.c-menu--slide-right .c-menu__close,
.c-menu--push-left .c-menu__close,
.c-menu--push-right .c-menu__close {
  display: block;
  padding: 12px 24px;
  width: 100%;
}

/* Slide and push left */
.c-menu--slide-left,
.c-menu--push-left {
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

@media all and (min-width: 320px) {
  .c-menu--slide-left,
  .c-menu--push-left {
    transform: translateX(-300px);
  }
}

.c-menu--slide-left.is-active,
.c-menu--push-left.is-active {
  transform: translateX(0);
}

/* Buttons */

.c-buttons {
  /*margin-bottom: 48px;*/
  text-align: center;
}

.c-button {
  display: inline-block;
  margin: 4px;
  padding: 12px 24px;
  /*color: #67b5d1;*/
  background: none;
  font-size: 14px;
  /*border: solid 2px #67b5d1;*/
  /*box-shadow: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;*/
  cursor: pointer;
  border-radius: 24px;
}

.c-button:focus {
  outline: none;
}

.c-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

/***** MAP *****/

#map {
  margin: 0 auto;
  margin-top: 20px;
  position: absolute;
  /*top: 20%;
  bottom: 0;
  left: 0;
  right: 0;*/
  height: 100%;
  width: 100%;
}

/*#map {
  width: 750px;
  height: 450px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 24px;
}*/

/* InfoWindow */
.infoWindow {
  color: black;
  border-radius: 24px;
}

.infoWindow ul {
  list-style: none;
  text-align: center;
  padding-left: 0px;
}

.gm-style-iw {
  overflow: auto;
  background-color: white;
}

.listenButton {
  border-radius: 24px;
}

.songName {
  /*background-color: #5cb85c;*/
  overflow: auto;
  /*width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;*/
  /*color: white;*/
  font-weight: bold;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}



#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-right: 20px;
  margin-top: 20px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}
